*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.logo{
    text-align: center;
    margin: 15px;
    padding: 10px;
}

ul{
    text-align: center;
    margin: 0px auto;
    padding: 15px;
    border-top: 2px solid #000000;
    border-bottom: 1px solid black;
}

li{
    display: inline;
    margin: 20px;
    
}

a{
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    padding: 6px;
}

p {
    text-align: center;
    width: 600px;
    margin: 20px auto 20px auto;}